.loginContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.loginContainer .leftSide {
  width: 75%;
  height: 100%;
  background-image: url("/assets/fotoinicial.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginContainer .rightSide {
  flex: 1;
  background-color: #06041a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginContainer .logo {
  background-image: url("/assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  margin-bottom: 60px;
}

.loginContainer .credentialsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.loginContainer .inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
}

.loginContainer .label {
  color: #FFF;
  font-size: 26px;
  margin-right: 15px;

}

.loginContainer .login,
.loginContainer .senha {
  background-color: #fff;
  border-radius: 10px;

  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: left;

  width: 300px;
}

.loginContainer .entrar {
  background-color: chartreuse;
  border-radius: 10px;

  padding: 10px 20px;
  margin: 20px 0px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  cursor: pointer;
}

.loginContainer .criarConta {
  color: chartreuse;
  border-radius: 10px;

  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

  cursor: pointer;
}