/* ==================================================== LAYOUT ====================================================*/
.topMenu {
    padding: 10px 10px 0px 10px;
    background-color: #06041A;
    height: 100px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
}

.topMenu .logo {
    height: 80px;
    margin-right: 20px;

    margin-bottom: 10px;
}

.topMenu .logo img {
    height: 100%;
}

.topMenu .perfil {
    height: 80px;
    margin-left: 20px;

}

.topMenu .perfil img {
    height: 80px;
    margin-bottom: 10px;
}

.topMenu .opcoesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    max-width: 1000px;
    flex: 1;
    font-weight: bold;
    height: 100%;
}

.topMenu .opcao {
    font-size: 26px;
    color: #FFF;
    margin-right: 15px;
    height: 100%;
    padding: 26px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    cursor: pointer;
}

.topMenu .opcao.ativo {
    font-size: 26px;
    color: #06041A;
    background-color: #fff;
    margin-right: 15px;
}